<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Palestras</title>
 </head>
 <body>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">Palestra</th>
            <th scope="col">Palestrante</th>
            <th scope="col">Sala</th>
            <th scope="col">Horario</th>
            <th scope="col">Curriculo</th>
          </tr>
        </thead>
        <tbody>
        </tr>
        {% if palestras %}
            {% for palestra in palestras %}
                <form action='' method="POST" enctype="multipart/form-data">
                 {% csrf_token %}
                    <tr>
                        <td>{{ palestra.palestra }}</td>
                        <td>{{ palestra.palestrante}}</td>
                        <td>{{ palestra.sala }}</td>
                        <td>{{ palestra.horario }}</td>
                        <td>{{ palestra.curriculo }}</td>
                    </tr>
                </form>
            {% endfor %}
        {% else %}
            <h2> Nenhuma palestra cadastrada </h2>      
        {% endif %} 
        </tr>
        </tbody>
      </table> 
    </body>
</html>